/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Colors, Font-sizes, Font-weights */
:root {

--white: hsl(0, 0%, 100%);

--stone-100: hsl(30, 54%, 90%);
--stone-150: hsl(30, 18%, 87%);
--stone-250: hsl(30, 8%, 72%);
--stone-600: hsl(30, 10%, 34%);
--stone-900: hsl(24, 5%, 18%);

--brown-800: hsl(14, 45%, 36%);

--rose-800: hsl(332, 51%, 32%);
--rose-50: hsl(330, 100%, 98%);

--fweight-regular: 400;
--fweight-bold: 600;
--fweight-extrabold: 700;

--fsize-extralarge: 2.25rem;
--fsize-large: 1.75rem;
--fsize-small: .75rem;

--max-container-width: 45rem;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: grid;
  place-content: center;
  background-color: var(--stone-100);
  min-width: 12.5rem;
}

.spacing-container {
  height: 7.5rem;
  max-width:  var(--max-container-width);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;
  color: var(--stone-600);
  background-color: white;
  max-width:  var(--max-container-width);
  min-width: 100%;
  max-height: fit-content;
  border-radius: 1.5rem;
  box-shadow: 0 2.5px 10px var(--stone-250);
}

@media only screen and (max-width: 45rem) {
  .spacing-container {
    height: fit-content;
  }
  .recipe-img-desktop {
    display: none;
  }
  .recipe-img-mobile {
    min-height: calc(100vw/164*75);
    min-width: 100%;
  }
  main {
    padding: 1.95rem;
    border-radius: 0;
    box-shadow: none;
  }
}

.recipe-img-desktop {
  border-radius: 1rem;
  margin-bottom: .5rem;
  height: auto;
  width: auto;
}

.recipe-img-mobile {
  height: 0;
}

h1, h2 {
  font-family: "Young Serif", serif;
  font-weight: var(--fweight-regular);
}

.main-title {
  font-size: var(--fsize-extralarge);
  line-height: 2.25rem;
  color: var(--stone-900);
  margin-top: .75rem;
  transition-duration: .5s;
  cursor: pointer;
  width: fit-content;
}

.main-title:hover {
  translate: 0 -1px;
  color: black;
  text-shadow: 0 2px 5px lightgray;
}

h2 {
  font-size: var(--fsize-large);
}

.prep-time-container {
  padding: 1.25rem;
  background-color: var(--rose-50);
  border-radius: 1rem;
  color: var(--stone-600);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  word-wrap: break-word;
}

.prep-time.heading {
  font-size: 1.17em;
  color: var(--rose-800);
  font-weight: var(--fweight-bold);
}

li {
  padding: .35rem;
}

.heading {
  color: var(--brown-800);
}

.list {
  padding-bottom: 1.25rem;
  border-bottom: solid .05rem var(--stone-150);
}

.prep-time-list li::marker {
  font-size: var(--fsize-small);
  color: var(--rose-800);
}

.ingredients.list li::marker {
  font-size: var(--fsize-small);
  color: var(--brown-800);
}

.instructions.list li::marker {
  color: var(--brown-800);
  font-weight: var(--fweight-bold);
}

td,
th {
  border-bottom: solid .05rem var(--stone-150);
  padding: .5rem;
  font-weight: var(--fweight-regular);
  text-align: start;
}

.fat-title,
.fat.amount {
  border-bottom: 0;
}

.amount {
  font-weight: var(--fweight-bold);
  color: var(--brown-800);
}

.attribution {
  text-align: center;
  margin-top: 1rem;
  font-size: var(--fsize-small);
  color: var(--stone-250);
}

.attribution a {
  color: var(--stone-250);
}